body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.container {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

article {
  background-color: #3e3e3e;
  background-clip: padding-box;
  padding: 10px;
  border-radius: 35px;
  margin-bottom: 20px;
  color: #fff;
}

div {
  margin-top: 10px;
}

.example-1,
.example-2,
.example-3,
.example-4,
.example-5,
.example-6,
.example-7,
.example-8,
.example-9,
.example-10 {
  font-weight: bold;
  font-size: 20px;
}

.example-1 {
  color: rgb(89, 232, 185);
}

.example-2 {
  color: #cde165;
}

.example-3 {
  color: #965aeb;
}

.example-4 {
  color: #e437b0;
}

.example-5 {
  color: #3ef444;
}

.example-6 {
  color: #ffe600;
}

.example-7 {
  color: #1298bd;
}

.example-8 {
  color: #ff0048;
}

.example-9 {
  color: #008cff;
}

.example-10 {
  color: #ffff00;
}

.tex-example {
  color: #f5f5d1;
}

.article-1 {
  border: 10px solid rgba(87, 232, 184, 0.3);
}

.article-2 {
  border: 10px solid rgba(205, 225, 101, 0.3);
}

.article-3 {
  border: 10px solid rgba(150, 90, 235, 0.3);
}

.article-4 {
  border: 10px solid rgba(228, 55, 176, 0.3);
}

.article-5 {
  border: 10px solid rgba(3, 244, 68, 0.3);
}

.article-6 {
  border: 10px solid rgba(255, 230, 0, 0.3);
}

.article-7 {
  border: 10px solid rgba(18, 152, 189, 0.3);
}

.article-8 {
  border: 10px solid rgba(255, 0, 72, 0.3);
}

.article-9 {
  border: 10px solid rgba(0, 140, 255, 0.3);
}

.article-10 {
  border: 10px solid rgba(255, 255, 0, 0.3);
}